h1{
    width:50%;
    text-align:justify;
}

input{
    height:45px;
    width:250px;
    border-radius:20px;
    font-size:20px;
    padding:20px;
    border:2px dashed black;
    outline:none;
}
p{
    font-size:20px;
}